$bkg-color: #202322;
$font-color: #ffffff;

.navbar {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: gray;

  background-color: $bkg-color;
  height: 50px;
  .left {
    display: flex;
    align-items: center;
    .brand-name {
      color: $font-color;
      font-size: 20px;
      font-weight: 600;
      margin-right: 15px;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        float: left; // make the li horizonal
        a {
          text-decoration: none;
          display: block;
          padding: 0 10px;
          color: $font-color;
        }
      }
    }
  }

  .right {
    color: $font-color;
    .actions {
      margin-left: 8px;
      a {
        color: $font-color;
      }
    }
  }
}
